<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Sign In
        </title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <p>Please enter your username</p>
        <form>
            <input type="text" name="username"/>



        </form>


    </body>



</html>
