<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Create An Account
        </title> 
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Flights</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>        
        <form class="box">
            <h1>Sign Up Today!</h1>
             <div class="content">
                 <h2><b>Enter the information below:</b></h2>
            <label for="FirstName">First Name:</label><br>
                <input type="text" id="FirstName" class="text_box" placeholder="Enter First Name" name="First_Name"/>
            <br>
            <label for="LastName">Last Name:</label><br>  
                <input type="text" id="LastName" class="text_box" placeholder="Enter Last Name"name="Last_Name"/>
            <br>
            <label for="Email_Address">Email Address:</label><br>
                <input type="text" id="Email_Address" class="text_box" placeholder="Enter Email Address" name="Email_Address"/>
            <br>
            <label for="Password">Password:</label><br>
                <input type="password" id="Password" class="text_box" placeholder="Enter Password" name="Password"/>
            <br>
            <label for="Confirm_Password">Confirm Password:</label><br> 
                <input type="password" id="Confirm_Password" class="text_box" placeholder="Re-Enter Password" name="Password"/>
            <br>
                 <button type="submit" class="create_account_button">Create Account</button>
                 <button type="submit" class="cancel_button">Cancel</button>
            </div>
        </form>
    </body>
    


</html>
