body{
    font-family: sans-serif;
    background: url(images/airplane.jpg) no-repeat center center fixed;
    background-size:cover;
    margin:0;
    padding:0;
}

.content {
    margin-left:100px;
    position:relative;
    font-size:15px;
    left:420px;
    top:30px; 
    width:100%;   
}

button {
    padding:10px;
    margin-top:10px; 
    cursor:pointer;
}

.login_button{
    background-color:#4CAF50;
    width:90%;
    margin:8px 0;
    padding:6px;
    cursor:pointer;
}

.signup_button{
    background-color:#F4A460;
    width:90%;
    padding:6px;
    margin:8px 0;
    cursor:pointer;
}

.create_account_button{
    background-color:#4CAF50;
    width:140px;
    padding:10px;
    display:inline-block;
}

.cancel_button{
    background-color:#CD5C5C;
    width:128px;
    padding:10px;
}

.text_box{
    width:250px;
    padding:7px;
    border:1px solid silver;
    margin:10px 2px 5px;
}

.box{
    background:rgba(0,0,0,0.6);
	color:#fff;
    position:relative;
    margin-left:150px;
    width:930px;
    height:560px;
    border:1px solid silver;
    margin-top:80px;
    padding-left:10px;
}

.login_content{
    padding: 16px;
    background:rgba(0,0,0,0.6);
	color:#B0C4DE;
    width:300px;
    position:relative;
    margin-left:70%;
    margin-top:120px; 
    border: 1px solid black;
}

nav{
    width:100%;
    background:#00316b;
}

ul{
    width:80%;
    margin:0 auto;
    padding:0;
}

ul li{
    list-style:none;
    display:inline-block;
    padding:20px;
}

ul li:hover{
    background:#e91e63;
}

ul li a{
    color:#fff;
    text-decoration:none;
}
